node_modules/
target/
.idea/
.vscode/
jobtracker-backend/.bashrc
jobtracker-backend/.bash_history


ai-microservices/venv/
ai-microservices/venv/bin/activate
ai-microservices/venv/bin/activate.csh
lib/python3.12/site-packages/
ai-microservices/venv/lib/python3.12/site-packages/
ai-microservices/venv/lib64/python3.12/site-packages/
